.Table {
  width: 100%;
  th, td{
    padding: .125rem .5rem;
  }
  th {
    background: #ccc;
    font-weight: 600;
  }
  tbody tr{
    &:nth-of-type(even){
      background: #f0f0f0;
    }
  }
}

h3{
  font-size: 26px;
  margin: .5rem 0 1rem;
}